.mainlog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  padding: 60px;
}
.loginpage {
  height: 450px;
  width: 400px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.loginpage:hover {
  box-shadow: 0px 0px 2px 0px black;
}
h2 {
  font-size: 2rem;
  margin-top: 60px;
  margin-bottom: 40px;
}
input,
button {
  height: 38px;
  width: 230px;
  border-radius: 5px;
  border-color: white;
  text-align: center;
  box-shadow: none;
}
button {
  background-color: lightcoral;
  height: 45px;
  color: white;
}
button:hover {
  box-shadow: 0px 0px 2px 0px lightcoral;
}

/* Media Queries */
@media (max-width: 530px) {
  .mainlog {
    padding: 50px;
  }
  .loginpage {
    width: 300px;
    margin-top: 150px;
    height: 350px;
  }
  h2 {
    font-size: 20px;
  }
  input,
  button {
    /* height: 38px; */
    width: 200px;
  }
}

@media (max-width: 390px) {
  .mainlog {
    padding: 40px;
  }
  .loginpage {
    width: 280px;
    height: 300px;
    margin-top: 150px;
  }
  h2 {
    font-size: 18px;
  }
  input,
  button {
    /* height: 38px; */
    width: 180px;
  }
}

@media (max-width: 350px) {
  .mainlog {
    padding: 20px;
  }
  .loginpage {
    width: 300px;
    height: 300px;
    margin-top: 150px;
  }
  h2 {
    font-size: 18px;
  }
  input,
  button {
    width: 170px;
  }
}
