.shafiq {
  height: 100vh;
  background-color: rgb(61, 75, 75);
  color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media (max-width: 450px) {
  .shafiq {
    font-size: 20px;
  }
}
